@font-face
  font-family "ionicons"
  font-style normal
  font-weight 400
  src url("../fonts/ionicons.eot?2b1fbcad524e48df3192241b53886a18?#iefix") format("embedded-opentype"),
url("../fonts/ionicons.woff2?2b1fbcad524e48df3192241b53886a18") format("woff2"),
url("../fonts/ionicons.woff?2b1fbcad524e48df3192241b53886a18") format("woff"),
url("../fonts/ionicons.ttf?2b1fbcad524e48df3192241b53886a18") format("truetype"),
url("../fonts/ionicons.svg?2b1fbcad524e48df3192241b53886a18#ionicons") format("svg")

[class*=" ionicons-"], [class^=ionicons-]
  font-family "ionicons"
  font-weight normal
  font-style normal
  display inline-block
  vertical-align middle
  line-height 1
  text-transform none
  letter-spacing normal
  word-wrap normal
  white-space nowrap
  direction ltr
  -webkit-font-smoothing antialiased
  text-rendering optimizeLegibility
  -moz-osx-font-smoothing grayscale
  font-feature-settings "liga"

.ionicons-ios-add-circle-outline
  &::before
    content "\f101"

.ionicons-ios-add-circle
  &::before
    content "\f102"

.ionicons-ios-add
  &::before
    content "\f103"

.ionicons-ios-airplane
  &::before
    content "\f104"

.ionicons-ios-alarm
  &::before
    content "\f105"

.ionicons-ios-albums
  &::before
    content "\f106"

.ionicons-ios-alert
  &::before
    content "\f107"

.ionicons-ios-american-football
  &::before
    content "\f108"

.ionicons-ios-analytics
  &::before
    content "\f109"

.ionicons-ios-aperture
  &::before
    content "\f10a"

.ionicons-ios-apps
  &::before
    content "\f10b"

.ionicons-ios-appstore
  &::before
    content "\f10c"

.ionicons-ios-archive
  &::before
    content "\f10d"

.ionicons-ios-arrow-back
  &::before
    content "\f10e"

.ionicons-ios-arrow-down
  &::before
    content "\f10f"

.ionicons-ios-arrow-dropdown-circle
  &::before
    content "\f110"

.ionicons-ios-arrow-dropdown
  &::before
    content "\f111"

.ionicons-ios-arrow-dropleft-circle
  &::before
    content "\f112"

.ionicons-ios-arrow-dropleft
  &::before
    content "\f113"

.ionicons-ios-arrow-dropright-circle
  &::before
    content "\f114"

.ionicons-ios-arrow-dropright
  &::before
    content "\f115"

.ionicons-ios-arrow-dropup-circle
  &::before
    content "\f116"

.ionicons-ios-arrow-dropup
  &::before
    content "\f117"

.ionicons-ios-arrow-forward
  &::before
    content "\f118"

.ionicons-ios-arrow-round-back
  &::before
    content "\f119"

.ionicons-ios-arrow-round-down
  &::before
    content "\f11a"

.ionicons-ios-arrow-round-forward
  &::before
    content "\f11b"

.ionicons-ios-arrow-round-up
  &::before
    content "\f11c"

.ionicons-ios-arrow-up
  &::before
    content "\f11d"

.ionicons-ios-at
  &::before
    content "\f11e"

.ionicons-ios-attach
  &::before
    content "\f11f"

.ionicons-ios-backspace
  &::before
    content "\f120"

.ionicons-ios-barcode
  &::before
    content "\f121"

.ionicons-ios-baseball
  &::before
    content "\f122"

.ionicons-ios-basket
  &::before
    content "\f123"

.ionicons-ios-basketball
  &::before
    content "\f124"

.ionicons-ios-battery-charging
  &::before
    content "\f125"

.ionicons-ios-battery-dead
  &::before
    content "\f126"

.ionicons-ios-battery-full
  &::before
    content "\f127"

.ionicons-ios-beaker
  &::before
    content "\f128"

.ionicons-ios-bed
  &::before
    content "\f129"

.ionicons-ios-beer
  &::before
    content "\f12a"

.ionicons-ios-bicycle
  &::before
    content "\f12b"

.ionicons-ios-bluetooth
  &::before
    content "\f12c"

.ionicons-ios-boat
  &::before
    content "\f12d"

.ionicons-ios-body
  &::before
    content "\f12e"

.ionicons-ios-bonfire
  &::before
    content "\f12f"

.ionicons-ios-book
  &::before
    content "\f130"

.ionicons-ios-bookmark
  &::before
    content "\f131"

.ionicons-ios-bookmarks
  &::before
    content "\f132"

.ionicons-ios-bowtie
  &::before
    content "\f133"

.ionicons-ios-briefcase
  &::before
    content "\f134"

.ionicons-ios-browsers
  &::before
    content "\f135"

.ionicons-ios-brush
  &::before
    content "\f136"

.ionicons-ios-bug
  &::before
    content "\f137"

.ionicons-ios-build
  &::before
    content "\f138"

.ionicons-ios-bulb
  &::before
    content "\f139"

.ionicons-ios-bus
  &::before
    content "\f13a"

.ionicons-ios-business
  &::before
    content "\f13b"

.ionicons-ios-cafe
  &::before
    content "\f13c"

.ionicons-ios-calculator
  &::before
    content "\f13d"

.ionicons-ios-calendar
  &::before
    content "\f13e"

.ionicons-ios-call
  &::before
    content "\f13f"

.ionicons-ios-camera
  &::before
    content "\f140"

.ionicons-ios-car
  &::before
    content "\f141"

.ionicons-ios-card
  &::before
    content "\f142"

.ionicons-ios-cart
  &::before
    content "\f143"

.ionicons-ios-cash
  &::before
    content "\f144"

.ionicons-ios-cellular
  &::before
    content "\f145"

.ionicons-ios-chatboxes
  &::before
    content "\f146"

.ionicons-ios-chatbubbles
  &::before
    content "\f147"

.ionicons-ios-checkbox-outline
  &::before
    content "\f148"

.ionicons-ios-checkbox
  &::before
    content "\f149"

.ionicons-ios-checkmark-circle-outline
  &::before
    content "\f14a"

.ionicons-ios-checkmark-circle
  &::before
    content "\f14b"

.ionicons-ios-checkmark
  &::before
    content "\f14c"

.ionicons-ios-clipboard
  &::before
    content "\f14d"

.ionicons-ios-clock
  &::before
    content "\f14e"

.ionicons-ios-close-circle-outline
  &::before
    content "\f14f"

.ionicons-ios-close-circle
  &::before
    content "\f150"

.ionicons-ios-close
  &::before
    content "\f151"

.ionicons-ios-cloud-circle
  &::before
    content "\f152"

.ionicons-ios-cloud-done
  &::before
    content "\f153"

.ionicons-ios-cloud-download
  &::before
    content "\f154"

.ionicons-ios-cloud-outline
  &::before
    content "\f155"

.ionicons-ios-cloud-upload
  &::before
    content "\f156"

.ionicons-ios-cloud
  &::before
    content "\f157"

.ionicons-ios-cloudy-night
  &::before
    content "\f158"

.ionicons-ios-cloudy
  &::before
    content "\f159"

.ionicons-ios-code-download
  &::before
    content "\f15a"

.ionicons-ios-code-working
  &::before
    content "\f15b"

.ionicons-ios-code
  &::before
    content "\f15c"

.ionicons-ios-cog
  &::before
    content "\f15d"

.ionicons-ios-color-fill
  &::before
    content "\f15e"

.ionicons-ios-color-filter
  &::before
    content "\f15f"

.ionicons-ios-color-palette
  &::before
    content "\f160"

.ionicons-ios-color-wand
  &::before
    content "\f161"

.ionicons-ios-compass
  &::before
    content "\f162"

.ionicons-ios-construct
  &::before
    content "\f163"

.ionicons-ios-contact
  &::before
    content "\f164"

.ionicons-ios-contacts
  &::before
    content "\f165"

.ionicons-ios-contract
  &::before
    content "\f166"

.ionicons-ios-contrast
  &::before
    content "\f167"

.ionicons-ios-copy
  &::before
    content "\f168"

.ionicons-ios-create
  &::before
    content "\f169"

.ionicons-ios-crop
  &::before
    content "\f16a"

.ionicons-ios-cube
  &::before
    content "\f16b"

.ionicons-ios-cut
  &::before
    content "\f16c"

.ionicons-ios-desktop
  &::before
    content "\f16d"

.ionicons-ios-disc
  &::before
    content "\f16e"

.ionicons-ios-document
  &::before
    content "\f16f"

.ionicons-ios-done-all
  &::before
    content "\f170"

.ionicons-ios-download
  &::before
    content "\f171"

.ionicons-ios-easel
  &::before
    content "\f172"

.ionicons-ios-egg
  &::before
    content "\f173"

.ionicons-ios-exit
  &::before
    content "\f174"

.ionicons-ios-expand
  &::before
    content "\f175"

.ionicons-ios-eye-off
  &::before
    content "\f176"

.ionicons-ios-eye
  &::before
    content "\f177"

.ionicons-ios-fastforward
  &::before
    content "\f178"

.ionicons-ios-female
  &::before
    content "\f179"

.ionicons-ios-filing
  &::before
    content "\f17a"

.ionicons-ios-film
  &::before
    content "\f17b"

.ionicons-ios-finger-print
  &::before
    content "\f17c"

.ionicons-ios-fitness
  &::before
    content "\f17d"

.ionicons-ios-flag
  &::before
    content "\f17e"

.ionicons-ios-flame
  &::before
    content "\f17f"

.ionicons-ios-flash-off
  &::before
    content "\f180"

.ionicons-ios-flash
  &::before
    content "\f181"

.ionicons-ios-flashlight
  &::before
    content "\f182"

.ionicons-ios-flask
  &::before
    content "\f183"

.ionicons-ios-flower
  &::before
    content "\f184"

.ionicons-ios-folder-open
  &::before
    content "\f185"

.ionicons-ios-folder
  &::before
    content "\f186"

.ionicons-ios-football
  &::before
    content "\f187"

.ionicons-ios-funnel
  &::before
    content "\f188"

.ionicons-ios-gift
  &::before
    content "\f189"

.ionicons-ios-git-branch
  &::before
    content "\f18a"

.ionicons-ios-git-commit
  &::before
    content "\f18b"

.ionicons-ios-git-compare
  &::before
    content "\f18c"

.ionicons-ios-git-merge
  &::before
    content "\f18d"

.ionicons-ios-git-network
  &::before
    content "\f18e"

.ionicons-ios-git-pull-request
  &::before
    content "\f18f"

.ionicons-ios-glasses
  &::before
    content "\f190"

.ionicons-ios-globe
  &::before
    content "\f191"

.ionicons-ios-grid
  &::before
    content "\f192"

.ionicons-ios-hammer
  &::before
    content "\f193"

.ionicons-ios-hand
  &::before
    content "\f194"

.ionicons-ios-happy
  &::before
    content "\f195"

.ionicons-ios-headset
  &::before
    content "\f196"

.ionicons-ios-heart-dislike
  &::before
    content "\f197"

.ionicons-ios-heart-empty
  &::before
    content "\f198"

.ionicons-ios-heart-half
  &::before
    content "\f199"

.ionicons-ios-heart
  &::before
    content "\f19a"

.ionicons-ios-help-buoy
  &::before
    content "\f19b"

.ionicons-ios-help-circle-outline
  &::before
    content "\f19c"

.ionicons-ios-help-circle
  &::before
    content "\f19d"

.ionicons-ios-help
  &::before
    content "\f19e"

.ionicons-ios-home
  &::before
    content "\f19f"

.ionicons-ios-hourglass
  &::before
    content "\f1a0"

.ionicons-ios-ice-cream
  &::before
    content "\f1a1"

.ionicons-ios-image
  &::before
    content "\f1a2"

.ionicons-ios-images
  &::before
    content "\f1a3"

.ionicons-ios-infinite
  &::before
    content "\f1a4"

.ionicons-ios-information-circle-outline
  &::before
    content "\f1a5"

.ionicons-ios-information-circle
  &::before
    content "\f1a6"

.ionicons-ios-information
  &::before
    content "\f1a7"

.ionicons-ios-jet
  &::before
    content "\f1a8"

.ionicons-ios-journal
  &::before
    content "\f1a9"

.ionicons-ios-key
  &::before
    content "\f1aa"

.ionicons-ios-keypad
  &::before
    content "\f1ab"

.ionicons-ios-laptop
  &::before
    content "\f1ac"

.ionicons-ios-leaf
  &::before
    content "\f1ad"

.ionicons-ios-link
  &::before
    content "\f1ae"

.ionicons-ios-list-box
  &::before
    content "\f1af"

.ionicons-ios-list
  &::before
    content "\f1b0"

.ionicons-ios-locate
  &::before
    content "\f1b1"

.ionicons-ios-lock
  &::before
    content "\f1b2"

.ionicons-ios-log-in
  &::before
    content "\f1b3"

.ionicons-ios-log-out
  &::before
    content "\f1b4"

.ionicons-ios-magnet
  &::before
    content "\f1b5"

.ionicons-ios-mail-open
  &::before
    content "\f1b6"

.ionicons-ios-mail-unread
  &::before
    content "\f1b7"

.ionicons-ios-mail
  &::before
    content "\f1b8"

.ionicons-ios-male
  &::before
    content "\f1b9"

.ionicons-ios-man
  &::before
    content "\f1ba"

.ionicons-ios-map
  &::before
    content "\f1bb"

.ionicons-ios-medal
  &::before
    content "\f1bc"

.ionicons-ios-medical
  &::before
    content "\f1bd"

.ionicons-ios-medkit
  &::before
    content "\f1be"

.ionicons-ios-megaphone
  &::before
    content "\f1bf"

.ionicons-ios-menu
  &::before
    content "\f1c0"

.ionicons-ios-mic-off
  &::before
    content "\f1c1"

.ionicons-ios-mic
  &::before
    content "\f1c2"

.ionicons-ios-microphone
  &::before
    content "\f1c3"

.ionicons-ios-moon
  &::before
    content "\f1c4"

.ionicons-ios-more
  &::before
    content "\f1c5"

.ionicons-ios-move
  &::before
    content "\f1c6"

.ionicons-ios-musical-note
  &::before
    content "\f1c7"

.ionicons-ios-musical-notes
  &::before
    content "\f1c8"

.ionicons-ios-navigate
  &::before
    content "\f1c9"

.ionicons-ios-notifications-off
  &::before
    content "\f1ca"

.ionicons-ios-notifications-outline
  &::before
    content "\f1cb"

.ionicons-ios-notifications
  &::before
    content "\f1cc"

.ionicons-ios-nuclear
  &::before
    content "\f1cd"

.ionicons-ios-nutrition
  &::before
    content "\f1ce"

.ionicons-ios-open
  &::before
    content "\f1cf"

.ionicons-ios-options
  &::before
    content "\f1d0"

.ionicons-ios-outlet
  &::before
    content "\f1d1"

.ionicons-ios-paper-plane
  &::before
    content "\f1d2"

.ionicons-ios-paper
  &::before
    content "\f1d3"

.ionicons-ios-partly-sunny
  &::before
    content "\f1d4"

.ionicons-ios-pause
  &::before
    content "\f1d5"

.ionicons-ios-paw
  &::before
    content "\f1d6"

.ionicons-ios-people
  &::before
    content "\f1d7"

.ionicons-ios-person-add
  &::before
    content "\f1d8"

.ionicons-ios-person
  &::before
    content "\f1d9"

.ionicons-ios-phone-landscape
  &::before
    content "\f1da"

.ionicons-ios-phone-portrait
  &::before
    content "\f1db"

.ionicons-ios-photos
  &::before
    content "\f1dc"

.ionicons-ios-pie
  &::before
    content "\f1dd"

.ionicons-ios-pin
  &::before
    content "\f1de"

.ionicons-ios-pint
  &::before
    content "\f1df"

.ionicons-ios-pizza
  &::before
    content "\f1e0"

.ionicons-ios-planet
  &::before
    content "\f1e1"

.ionicons-ios-play-circle
  &::before
    content "\f1e2"

.ionicons-ios-play
  &::before
    content "\f1e3"

.ionicons-ios-podium
  &::before
    content "\f1e4"

.ionicons-ios-power
  &::before
    content "\f1e5"

.ionicons-ios-pricetag
  &::before
    content "\f1e6"

.ionicons-ios-pricetags
  &::before
    content "\f1e7"

.ionicons-ios-print
  &::before
    content "\f1e8"

.ionicons-ios-pulse
  &::before
    content "\f1e9"

.ionicons-ios-qr-scanner
  &::before
    content "\f1ea"

.ionicons-ios-quote
  &::before
    content "\f1eb"

.ionicons-ios-radio-button-off
  &::before
    content "\f1ec"

.ionicons-ios-radio-button-on
  &::before
    content "\f1ed"

.ionicons-ios-radio
  &::before
    content "\f1ee"

.ionicons-ios-rainy
  &::before
    content "\f1ef"

.ionicons-ios-recording
  &::before
    content "\f1f0"

.ionicons-ios-redo
  &::before
    content "\f1f1"

.ionicons-ios-refresh-circle
  &::before
    content "\f1f2"

.ionicons-ios-refresh
  &::before
    content "\f1f3"

.ionicons-ios-remove-circle-outline
  &::before
    content "\f1f4"

.ionicons-ios-remove-circle
  &::before
    content "\f1f5"

.ionicons-ios-remove
  &::before
    content "\f1f6"

.ionicons-ios-reorder
  &::before
    content "\f1f7"

.ionicons-ios-repeat
  &::before
    content "\f1f8"

.ionicons-ios-resize
  &::before
    content "\f1f9"

.ionicons-ios-restaurant
  &::before
    content "\f1fa"

.ionicons-ios-return-left
  &::before
    content "\f1fb"

.ionicons-ios-return-right
  &::before
    content "\f1fc"

.ionicons-ios-reverse-camera
  &::before
    content "\f1fd"

.ionicons-ios-rewind
  &::before
    content "\f1fe"

.ionicons-ios-ribbon
  &::before
    content "\f1ff"

.ionicons-ios-rocket
  &::before
    content "\f200"

.ionicons-ios-rose
  &::before
    content "\f201"

.ionicons-ios-sad
  &::before
    content "\f202"

.ionicons-ios-save
  &::before
    content "\f203"

.ionicons-ios-school
  &::before
    content "\f204"

.ionicons-ios-search
  &::before
    content "\f205"

.ionicons-ios-send
  &::before
    content "\f206"

.ionicons-ios-settings
  &::before
    content "\f207"

.ionicons-ios-share-alt
  &::before
    content "\f208"

.ionicons-ios-share
  &::before
    content "\f209"

.ionicons-ios-shirt
  &::before
    content "\f20a"

.ionicons-ios-shuffle
  &::before
    content "\f20b"

.ionicons-ios-skip-backward
  &::before
    content "\f20c"

.ionicons-ios-skip-forward
  &::before
    content "\f20d"

.ionicons-ios-snow
  &::before
    content "\f20e"

.ionicons-ios-speedometer
  &::before
    content "\f20f"

.ionicons-ios-square-outline
  &::before
    content "\f210"

.ionicons-ios-square
  &::before
    content "\f211"

.ionicons-ios-star-half
  &::before
    content "\f212"

.ionicons-ios-star-outline
  &::before
    content "\f213"

.ionicons-ios-star
  &::before
    content "\f214"

.ionicons-ios-stats
  &::before
    content "\f215"

.ionicons-ios-stopwatch
  &::before
    content "\f216"

.ionicons-ios-subway
  &::before
    content "\f217"

.ionicons-ios-sunny
  &::before
    content "\f218"

.ionicons-ios-swap
  &::before
    content "\f219"

.ionicons-ios-switch
  &::before
    content "\f21a"

.ionicons-ios-sync
  &::before
    content "\f21b"

.ionicons-ios-tablet-landscape
  &::before
    content "\f21c"

.ionicons-ios-tablet-portrait
  &::before
    content "\f21d"

.ionicons-ios-tennisball
  &::before
    content "\f21e"

.ionicons-ios-text
  &::before
    content "\f21f"

.ionicons-ios-thermometer
  &::before
    content "\f220"

.ionicons-ios-thumbs-down
  &::before
    content "\f221"

.ionicons-ios-thumbs-up
  &::before
    content "\f222"

.ionicons-ios-thunderstorm
  &::before
    content "\f223"

.ionicons-ios-time
  &::before
    content "\f224"

.ionicons-ios-timer
  &::before
    content "\f225"

.ionicons-ios-today
  &::before
    content "\f226"

.ionicons-ios-train
  &::before
    content "\f227"

.ionicons-ios-transgender
  &::before
    content "\f228"

.ionicons-ios-trash
  &::before
    content "\f229"

.ionicons-ios-trending-down
  &::before
    content "\f22a"

.ionicons-ios-trending-up
  &::before
    content "\f22b"

.ionicons-ios-trophy
  &::before
    content "\f22c"

.ionicons-ios-tv
  &::before
    content "\f22d"

.ionicons-ios-umbrella
  &::before
    content "\f22e"

.ionicons-ios-undo
  &::before
    content "\f22f"

.ionicons-ios-unlock
  &::before
    content "\f230"

.ionicons-ios-videocam
  &::before
    content "\f231"

.ionicons-ios-volume-high
  &::before
    content "\f232"

.ionicons-ios-volume-low
  &::before
    content "\f233"

.ionicons-ios-volume-mute
  &::before
    content "\f234"

.ionicons-ios-volume-off
  &::before
    content "\f235"

.ionicons-ios-walk
  &::before
    content "\f236"

.ionicons-ios-wallet
  &::before
    content "\f237"

.ionicons-ios-warning
  &::before
    content "\f238"

.ionicons-ios-watch
  &::before
    content "\f239"

.ionicons-ios-water
  &::before
    content "\f23a"

.ionicons-ios-wifi
  &::before
    content "\f23b"

.ionicons-ios-wine
  &::before
    content "\f23c"

.ionicons-ios-woman
  &::before
    content "\f23d"

.ionicons-logo-android
  &::before
    content "\f23e"

.ionicons-logo-angular
  &::before
    content "\f23f"

.ionicons-logo-apple
  &::before
    content "\f240"

.ionicons-logo-bitbucket
  &::before
    content "\f241"

.ionicons-logo-bitcoin
  &::before
    content "\f242"

.ionicons-logo-buffer
  &::before
    content "\f243"

.ionicons-logo-chrome
  &::before
    content "\f244"

.ionicons-logo-closed-captioning
  &::before
    content "\f245"

.ionicons-logo-codepen
  &::before
    content "\f246"

.ionicons-logo-css3
  &::before
    content "\f247"

.ionicons-logo-designernews
  &::before
    content "\f248"

.ionicons-logo-dribbble
  &::before
    content "\f249"

.ionicons-logo-dropbox
  &::before
    content "\f24a"

.ionicons-logo-euro
  &::before
    content "\f24b"

.ionicons-logo-facebook
  &::before
    content "\f24c"

.ionicons-logo-flickr
  &::before
    content "\f24d"

.ionicons-logo-foursquare
  &::before
    content "\f24e"

.ionicons-logo-freebsd-devil
  &::before
    content "\f24f"

.ionicons-logo-game-controller-a
  &::before
    content "\f250"

.ionicons-logo-game-controller-b
  &::before
    content "\f251"

.ionicons-logo-github
  &::before
    content "\f252"

.ionicons-logo-google
  &::before
    content "\f253"

.ionicons-logo-googleplus
  &::before
    content "\f254"

.ionicons-logo-hackernews
  &::before
    content "\f255"

.ionicons-logo-html5
  &::before
    content "\f256"

.ionicons-logo-instagram
  &::before
    content "\f257"

.ionicons-logo-ionic
  &::before
    content "\f258"

.ionicons-logo-ionitron
  &::before
    content "\f259"

.ionicons-logo-javascript
  &::before
    content "\f25a"

.ionicons-logo-linkedin
  &::before
    content "\f25b"

.ionicons-logo-markdown
  &::before
    content "\f25c"

.ionicons-logo-model-s
  &::before
    content "\f25d"

.ionicons-logo-no-smoking
  &::before
    content "\f25e"

.ionicons-logo-nodejs
  &::before
    content "\f25f"

.ionicons-logo-npm
  &::before
    content "\f260"

.ionicons-logo-octocat
  &::before
    content "\f261"

.ionicons-logo-pinterest
  &::before
    content "\f262"

.ionicons-logo-playstation
  &::before
    content "\f263"

.ionicons-logo-polymer
  &::before
    content "\f264"

.ionicons-logo-python
  &::before
    content "\f265"

.ionicons-logo-reddit
  &::before
    content "\f266"

.ionicons-logo-rss
  &::before
    content "\f267"

.ionicons-logo-sass
  &::before
    content "\f268"

.ionicons-logo-skype
  &::before
    content "\f269"

.ionicons-logo-slack
  &::before
    content "\f26a"

.ionicons-logo-snapchat
  &::before
    content "\f26b"

.ionicons-logo-steam
  &::before
    content "\f26c"

.ionicons-logo-tumblr
  &::before
    content "\f26d"

.ionicons-logo-tux
  &::before
    content "\f26e"

.ionicons-logo-twitch
  &::before
    content "\f26f"

.ionicons-logo-twitter
  &::before
    content "\f270"

.ionicons-logo-usd
  &::before
    content "\f271"

.ionicons-logo-vimeo
  &::before
    content "\f272"

.ionicons-logo-vk
  &::before
    content "\f273"

.ionicons-logo-whatsapp
  &::before
    content "\f274"

.ionicons-logo-windows
  &::before
    content "\f275"

.ionicons-logo-wordpress
  &::before
    content "\f276"

.ionicons-logo-xbox
  &::before
    content "\f277"

.ionicons-logo-xing
  &::before
    content "\f278"

.ionicons-logo-yahoo
  &::before
    content "\f279"

.ionicons-logo-yen
  &::before
    content "\f27a"

.ionicons-logo-youtube
  &::before
    content "\f27b"

.ionicons-md-add-circle-outline
  &::before
    content "\f27c"

.ionicons-md-add-circle
  &::before
    content "\f27d"

.ionicons-md-add
  &::before
    content "\f27e"

.ionicons-md-airplane
  &::before
    content "\f27f"

.ionicons-md-alarm
  &::before
    content "\f280"

.ionicons-md-albums
  &::before
    content "\f281"

.ionicons-md-alert
  &::before
    content "\f282"

.ionicons-md-american-football
  &::before
    content "\f283"

.ionicons-md-analytics
  &::before
    content "\f284"

.ionicons-md-aperture
  &::before
    content "\f285"

.ionicons-md-apps
  &::before
    content "\f286"

.ionicons-md-appstore
  &::before
    content "\f287"

.ionicons-md-archive
  &::before
    content "\f288"

.ionicons-md-arrow-back
  &::before
    content "\f289"

.ionicons-md-arrow-down
  &::before
    content "\f28a"

.ionicons-md-arrow-dropdown-circle
  &::before
    content "\f28b"

.ionicons-md-arrow-dropdown
  &::before
    content "\f28c"

.ionicons-md-arrow-dropleft-circle
  &::before
    content "\f28d"

.ionicons-md-arrow-dropleft
  &::before
    content "\f28e"

.ionicons-md-arrow-dropright-circle
  &::before
    content "\f28f"

.ionicons-md-arrow-dropright
  &::before
    content "\f290"

.ionicons-md-arrow-dropup-circle
  &::before
    content "\f291"

.ionicons-md-arrow-dropup
  &::before
    content "\f292"

.ionicons-md-arrow-forward
  &::before
    content "\f293"

.ionicons-md-arrow-round-back
  &::before
    content "\f294"

.ionicons-md-arrow-round-down
  &::before
    content "\f295"

.ionicons-md-arrow-round-forward
  &::before
    content "\f296"

.ionicons-md-arrow-round-up
  &::before
    content "\f297"

.ionicons-md-arrow-up
  &::before
    content "\f298"

.ionicons-md-at
  &::before
    content "\f299"

.ionicons-md-attach
  &::before
    content "\f29a"

.ionicons-md-backspace
  &::before
    content "\f29b"

.ionicons-md-barcode
  &::before
    content "\f29c"

.ionicons-md-baseball
  &::before
    content "\f29d"

.ionicons-md-basket
  &::before
    content "\f29e"

.ionicons-md-basketball
  &::before
    content "\f29f"

.ionicons-md-battery-charging
  &::before
    content "\f2a0"

.ionicons-md-battery-dead
  &::before
    content "\f2a1"

.ionicons-md-battery-full
  &::before
    content "\f2a2"

.ionicons-md-beaker
  &::before
    content "\f2a3"

.ionicons-md-bed
  &::before
    content "\f2a4"

.ionicons-md-beer
  &::before
    content "\f2a5"

.ionicons-md-bicycle
  &::before
    content "\f2a6"

.ionicons-md-bluetooth
  &::before
    content "\f2a7"

.ionicons-md-boat
  &::before
    content "\f2a8"

.ionicons-md-body
  &::before
    content "\f2a9"

.ionicons-md-bonfire
  &::before
    content "\f2aa"

.ionicons-md-book
  &::before
    content "\f2ab"

.ionicons-md-bookmark
  &::before
    content "\f2ac"

.ionicons-md-bookmarks
  &::before
    content "\f2ad"

.ionicons-md-bowtie
  &::before
    content "\f2ae"

.ionicons-md-briefcase
  &::before
    content "\f2af"

.ionicons-md-browsers
  &::before
    content "\f2b0"

.ionicons-md-brush
  &::before
    content "\f2b1"

.ionicons-md-bug
  &::before
    content "\f2b2"

.ionicons-md-build
  &::before
    content "\f2b3"

.ionicons-md-bulb
  &::before
    content "\f2b4"

.ionicons-md-bus
  &::before
    content "\f2b5"

.ionicons-md-business
  &::before
    content "\f2b6"

.ionicons-md-cafe
  &::before
    content "\f2b7"

.ionicons-md-calculator
  &::before
    content "\f2b8"

.ionicons-md-calendar
  &::before
    content "\f2b9"

.ionicons-md-call
  &::before
    content "\f2ba"

.ionicons-md-camera
  &::before
    content "\f2bb"

.ionicons-md-car
  &::before
    content "\f2bc"

.ionicons-md-card
  &::before
    content "\f2bd"

.ionicons-md-cart
  &::before
    content "\f2be"

.ionicons-md-cash
  &::before
    content "\f2bf"

.ionicons-md-cellular
  &::before
    content "\f2c0"

.ionicons-md-chatboxes
  &::before
    content "\f2c1"

.ionicons-md-chatbubbles
  &::before
    content "\f2c2"

.ionicons-md-checkbox-outline
  &::before
    content "\f2c3"

.ionicons-md-checkbox
  &::before
    content "\f2c4"

.ionicons-md-checkmark-circle-outline
  &::before
    content "\f2c5"

.ionicons-md-checkmark-circle
  &::before
    content "\f2c6"

.ionicons-md-checkmark
  &::before
    content "\f2c7"

.ionicons-md-clipboard
  &::before
    content "\f2c8"

.ionicons-md-clock
  &::before
    content "\f2c9"

.ionicons-md-close-circle-outline
  &::before
    content "\f2ca"

.ionicons-md-close-circle
  &::before
    content "\f2cb"

.ionicons-md-close
  &::before
    content "\f2cc"

.ionicons-md-cloud-circle
  &::before
    content "\f2cd"

.ionicons-md-cloud-done
  &::before
    content "\f2ce"

.ionicons-md-cloud-download
  &::before
    content "\f2cf"

.ionicons-md-cloud-outline
  &::before
    content "\f2d0"

.ionicons-md-cloud-upload
  &::before
    content "\f2d1"

.ionicons-md-cloud
  &::before
    content "\f2d2"

.ionicons-md-cloudy-night
  &::before
    content "\f2d3"

.ionicons-md-cloudy
  &::before
    content "\f2d4"

.ionicons-md-code-download
  &::before
    content "\f2d5"

.ionicons-md-code-working
  &::before
    content "\f2d6"

.ionicons-md-code
  &::before
    content "\f2d7"

.ionicons-md-cog
  &::before
    content "\f2d8"

.ionicons-md-color-fill
  &::before
    content "\f2d9"

.ionicons-md-color-filter
  &::before
    content "\f2da"

.ionicons-md-color-palette
  &::before
    content "\f2db"

.ionicons-md-color-wand
  &::before
    content "\f2dc"

.ionicons-md-compass
  &::before
    content "\f2dd"

.ionicons-md-construct
  &::before
    content "\f2de"

.ionicons-md-contact
  &::before
    content "\f2df"

.ionicons-md-contacts
  &::before
    content "\f2e0"

.ionicons-md-contract
  &::before
    content "\f2e1"

.ionicons-md-contrast
  &::before
    content "\f2e2"

.ionicons-md-copy
  &::before
    content "\f2e3"

.ionicons-md-create
  &::before
    content "\f2e4"

.ionicons-md-crop
  &::before
    content "\f2e5"

.ionicons-md-cube
  &::before
    content "\f2e6"

.ionicons-md-cut
  &::before
    content "\f2e7"

.ionicons-md-desktop
  &::before
    content "\f2e8"

.ionicons-md-disc
  &::before
    content "\f2e9"

.ionicons-md-document
  &::before
    content "\f2ea"

.ionicons-md-done-all
  &::before
    content "\f2eb"

.ionicons-md-download
  &::before
    content "\f2ec"

.ionicons-md-easel
  &::before
    content "\f2ed"

.ionicons-md-egg
  &::before
    content "\f2ee"

.ionicons-md-exit
  &::before
    content "\f2ef"

.ionicons-md-expand
  &::before
    content "\f2f0"

.ionicons-md-eye-off
  &::before
    content "\f2f1"

.ionicons-md-eye
  &::before
    content "\f2f2"

.ionicons-md-fastforward
  &::before
    content "\f2f3"

.ionicons-md-female
  &::before
    content "\f2f4"

.ionicons-md-filing
  &::before
    content "\f2f5"

.ionicons-md-film
  &::before
    content "\f2f6"

.ionicons-md-finger-print
  &::before
    content "\f2f7"

.ionicons-md-fitness
  &::before
    content "\f2f8"

.ionicons-md-flag
  &::before
    content "\f2f9"

.ionicons-md-flame
  &::before
    content "\f2fa"

.ionicons-md-flash-off
  &::before
    content "\f2fb"

.ionicons-md-flash
  &::before
    content "\f2fc"

.ionicons-md-flashlight
  &::before
    content "\f2fd"

.ionicons-md-flask
  &::before
    content "\f2fe"

.ionicons-md-flower
  &::before
    content "\f2ff"

.ionicons-md-folder-open
  &::before
    content "\f300"

.ionicons-md-folder
  &::before
    content "\f301"

.ionicons-md-football
  &::before
    content "\f302"

.ionicons-md-funnel
  &::before
    content "\f303"

.ionicons-md-gift
  &::before
    content "\f304"

.ionicons-md-git-branch
  &::before
    content "\f305"

.ionicons-md-git-commit
  &::before
    content "\f306"

.ionicons-md-git-compare
  &::before
    content "\f307"

.ionicons-md-git-merge
  &::before
    content "\f308"

.ionicons-md-git-network
  &::before
    content "\f309"

.ionicons-md-git-pull-request
  &::before
    content "\f30a"

.ionicons-md-glasses
  &::before
    content "\f30b"

.ionicons-md-globe
  &::before
    content "\f30c"

.ionicons-md-grid
  &::before
    content "\f30d"

.ionicons-md-hammer
  &::before
    content "\f30e"

.ionicons-md-hand
  &::before
    content "\f30f"

.ionicons-md-happy
  &::before
    content "\f310"

.ionicons-md-headset
  &::before
    content "\f311"

.ionicons-md-heart-dislike
  &::before
    content "\f312"

.ionicons-md-heart-empty
  &::before
    content "\f313"

.ionicons-md-heart-half
  &::before
    content "\f314"

.ionicons-md-heart
  &::before
    content "\f315"

.ionicons-md-help-buoy
  &::before
    content "\f316"

.ionicons-md-help-circle-outline
  &::before
    content "\f317"

.ionicons-md-help-circle
  &::before
    content "\f318"

.ionicons-md-help
  &::before
    content "\f319"

.ionicons-md-home
  &::before
    content "\f31a"

.ionicons-md-hourglass
  &::before
    content "\f31b"

.ionicons-md-ice-cream
  &::before
    content "\f31c"

.ionicons-md-image
  &::before
    content "\f31d"

.ionicons-md-images
  &::before
    content "\f31e"

.ionicons-md-infinite
  &::before
    content "\f31f"

.ionicons-md-information-circle-outline
  &::before
    content "\f320"

.ionicons-md-information-circle
  &::before
    content "\f321"

.ionicons-md-information
  &::before
    content "\f322"

.ionicons-md-jet
  &::before
    content "\f323"

.ionicons-md-journal
  &::before
    content "\f324"

.ionicons-md-key
  &::before
    content "\f325"

.ionicons-md-keypad
  &::before
    content "\f326"

.ionicons-md-laptop
  &::before
    content "\f327"

.ionicons-md-leaf
  &::before
    content "\f328"

.ionicons-md-link
  &::before
    content "\f329"

.ionicons-md-list-box
  &::before
    content "\f32a"

.ionicons-md-list
  &::before
    content "\f32b"

.ionicons-md-locate
  &::before
    content "\f32c"

.ionicons-md-lock
  &::before
    content "\f32d"

.ionicons-md-log-in
  &::before
    content "\f32e"

.ionicons-md-log-out
  &::before
    content "\f32f"

.ionicons-md-magnet
  &::before
    content "\f330"

.ionicons-md-mail-open
  &::before
    content "\f331"

.ionicons-md-mail-unread
  &::before
    content "\f332"

.ionicons-md-mail
  &::before
    content "\f333"

.ionicons-md-male
  &::before
    content "\f334"

.ionicons-md-man
  &::before
    content "\f335"

.ionicons-md-map
  &::before
    content "\f336"

.ionicons-md-medal
  &::before
    content "\f337"

.ionicons-md-medical
  &::before
    content "\f338"

.ionicons-md-medkit
  &::before
    content "\f339"

.ionicons-md-megaphone
  &::before
    content "\f33a"

.ionicons-md-menu
  &::before
    content "\f33b"

.ionicons-md-mic-off
  &::before
    content "\f33c"

.ionicons-md-mic
  &::before
    content "\f33d"

.ionicons-md-microphone
  &::before
    content "\f33e"

.ionicons-md-moon
  &::before
    content "\f33f"

.ionicons-md-more
  &::before
    content "\f340"

.ionicons-md-move
  &::before
    content "\f341"

.ionicons-md-musical-note
  &::before
    content "\f342"

.ionicons-md-musical-notes
  &::before
    content "\f343"

.ionicons-md-navigate
  &::before
    content "\f344"

.ionicons-md-notifications-off
  &::before
    content "\f345"

.ionicons-md-notifications-outline
  &::before
    content "\f346"

.ionicons-md-notifications
  &::before
    content "\f347"

.ionicons-md-nuclear
  &::before
    content "\f348"

.ionicons-md-nutrition
  &::before
    content "\f349"

.ionicons-md-open
  &::before
    content "\f34a"

.ionicons-md-options
  &::before
    content "\f34b"

.ionicons-md-outlet
  &::before
    content "\f34c"

.ionicons-md-paper-plane
  &::before
    content "\f34d"

.ionicons-md-paper
  &::before
    content "\f34e"

.ionicons-md-partly-sunny
  &::before
    content "\f34f"

.ionicons-md-pause
  &::before
    content "\f350"

.ionicons-md-paw
  &::before
    content "\f351"

.ionicons-md-people
  &::before
    content "\f352"

.ionicons-md-person-add
  &::before
    content "\f353"

.ionicons-md-person
  &::before
    content "\f354"

.ionicons-md-phone-landscape
  &::before
    content "\f355"

.ionicons-md-phone-portrait
  &::before
    content "\f356"

.ionicons-md-photos
  &::before
    content "\f357"

.ionicons-md-pie
  &::before
    content "\f358"

.ionicons-md-pin
  &::before
    content "\f359"

.ionicons-md-pint
  &::before
    content "\f35a"

.ionicons-md-pizza
  &::before
    content "\f35b"

.ionicons-md-planet
  &::before
    content "\f35c"

.ionicons-md-play-circle
  &::before
    content "\f35d"

.ionicons-md-play
  &::before
    content "\f35e"

.ionicons-md-podium
  &::before
    content "\f35f"

.ionicons-md-power
  &::before
    content "\f360"

.ionicons-md-pricetag
  &::before
    content "\f361"

.ionicons-md-pricetags
  &::before
    content "\f362"

.ionicons-md-print
  &::before
    content "\f363"

.ionicons-md-pulse
  &::before
    content "\f364"

.ionicons-md-qr-scanner
  &::before
    content "\f365"

.ionicons-md-quote
  &::before
    content "\f366"

.ionicons-md-radio-button-off
  &::before
    content "\f367"

.ionicons-md-radio-button-on
  &::before
    content "\f368"

.ionicons-md-radio
  &::before
    content "\f369"

.ionicons-md-rainy
  &::before
    content "\f36a"

.ionicons-md-recording
  &::before
    content "\f36b"

.ionicons-md-redo
  &::before
    content "\f36c"

.ionicons-md-refresh-circle
  &::before
    content "\f36d"

.ionicons-md-refresh
  &::before
    content "\f36e"

.ionicons-md-remove-circle-outline
  &::before
    content "\f36f"

.ionicons-md-remove-circle
  &::before
    content "\f370"

.ionicons-md-remove
  &::before
    content "\f371"

.ionicons-md-reorder
  &::before
    content "\f372"

.ionicons-md-repeat
  &::before
    content "\f373"

.ionicons-md-resize
  &::before
    content "\f374"

.ionicons-md-restaurant
  &::before
    content "\f375"

.ionicons-md-return-left
  &::before
    content "\f376"

.ionicons-md-return-right
  &::before
    content "\f377"

.ionicons-md-reverse-camera
  &::before
    content "\f378"

.ionicons-md-rewind
  &::before
    content "\f379"

.ionicons-md-ribbon
  &::before
    content "\f37a"

.ionicons-md-rocket
  &::before
    content "\f37b"

.ionicons-md-rose
  &::before
    content "\f37c"

.ionicons-md-sad
  &::before
    content "\f37d"

.ionicons-md-save
  &::before
    content "\f37e"

.ionicons-md-school
  &::before
    content "\f37f"

.ionicons-md-search
  &::before
    content "\f380"

.ionicons-md-send
  &::before
    content "\f381"

.ionicons-md-settings
  &::before
    content "\f382"

.ionicons-md-share-alt
  &::before
    content "\f383"

.ionicons-md-share
  &::before
    content "\f384"

.ionicons-md-shirt
  &::before
    content "\f385"

.ionicons-md-shuffle
  &::before
    content "\f386"

.ionicons-md-skip-backward
  &::before
    content "\f387"

.ionicons-md-skip-forward
  &::before
    content "\f388"

.ionicons-md-snow
  &::before
    content "\f389"

.ionicons-md-speedometer
  &::before
    content "\f38a"

.ionicons-md-square-outline
  &::before
    content "\f38b"

.ionicons-md-square
  &::before
    content "\f38c"

.ionicons-md-star-half
  &::before
    content "\f38d"

.ionicons-md-star-outline
  &::before
    content "\f38e"

.ionicons-md-star
  &::before
    content "\f38f"

.ionicons-md-stats
  &::before
    content "\f390"

.ionicons-md-stopwatch
  &::before
    content "\f391"

.ionicons-md-subway
  &::before
    content "\f392"

.ionicons-md-sunny
  &::before
    content "\f393"

.ionicons-md-swap
  &::before
    content "\f394"

.ionicons-md-switch
  &::before
    content "\f395"

.ionicons-md-sync
  &::before
    content "\f396"

.ionicons-md-tablet-landscape
  &::before
    content "\f397"

.ionicons-md-tablet-portrait
  &::before
    content "\f398"

.ionicons-md-tennisball
  &::before
    content "\f399"

.ionicons-md-text
  &::before
    content "\f39a"

.ionicons-md-thermometer
  &::before
    content "\f39b"

.ionicons-md-thumbs-down
  &::before
    content "\f39c"

.ionicons-md-thumbs-up
  &::before
    content "\f39d"

.ionicons-md-thunderstorm
  &::before
    content "\f39e"

.ionicons-md-time
  &::before
    content "\f39f"

.ionicons-md-timer
  &::before
    content "\f3a0"

.ionicons-md-today
  &::before
    content "\f3a1"

.ionicons-md-train
  &::before
    content "\f3a2"

.ionicons-md-transgender
  &::before
    content "\f3a3"

.ionicons-md-trash
  &::before
    content "\f3a4"

.ionicons-md-trending-down
  &::before
    content "\f3a5"

.ionicons-md-trending-up
  &::before
    content "\f3a6"

.ionicons-md-trophy
  &::before
    content "\f3a7"

.ionicons-md-tv
  &::before
    content "\f3a8"

.ionicons-md-umbrella
  &::before
    content "\f3a9"

.ionicons-md-undo
  &::before
    content "\f3aa"

.ionicons-md-unlock
  &::before
    content "\f3ab"

.ionicons-md-videocam
  &::before
    content "\f3ac"

.ionicons-md-volume-high
  &::before
    content "\f3ad"

.ionicons-md-volume-low
  &::before
    content "\f3ae"

.ionicons-md-volume-mute
  &::before
    content "\f3af"

.ionicons-md-volume-off
  &::before
    content "\f3b0"

.ionicons-md-walk
  &::before
    content "\f3b1"

.ionicons-md-wallet
  &::before
    content "\f3b2"

.ionicons-md-warning
  &::before
    content "\f3b3"

.ionicons-md-watch
  &::before
    content "\f3b4"

.ionicons-md-water
  &::before
    content "\f3b5"

.ionicons-md-wifi
  &::before
    content "\f3b6"

.ionicons-md-wine
  &::before
    content "\f3b7"

.ionicons-md-woman
  &::before
    content "\f3b8"

